* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    color: white;
  }
  
  table {
    border: none;
    background-color: maroon;
    color: white;
    border-radius: 10px;
  }
  
  nav {
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 10px;
  }
  
  form {
    align-content: center;
    background-color: crimson;
    border-radius: 20px;
    color: white;
  }
  
  img {
    background-color: crimson;
    border-radius: 50%;
    color: white;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  input {
    border-radius: 10px;
    color: black;
  }
  
  iframe {
    background-color: maroon;
    border-radius: 20px;
    color: white;
  }
  
  button {
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 10px;
  }
  
  body {
    background-image: url(https://drive.google.com/uc?export=view&id=1hSKwOpJRyDyYvFcRGL_4Mlg-oI3277Qi);
    background-size: cover;
  }
  
  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
  .desk {
    display: flexbox;
    background-color: crimson;
    color: white;
    border-radius: 10px;
  }
  .manfaat {
    display: flexbox;
    background-color: crimson;
    color: white;
    border-radius: 20px;
  }
  .genre {
    display: flexbox;
    background-color: crimson;
    color: white;
    border-radius: 20px;
  }
  .foot {
    display: flexbox;
    background-color: grey;
    color: white;
  }